In [1]:
# Dependencies needed to import SQL database into Pandas using SQLAlchemy.
%matplotlib notebook
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from config import db_location

In [2]:
# Create an engine to talk to the database.
engine = create_engine(db_location)
connection = engine.connect()

In [ ]:
# Create a histogram to visualize the most common salary ranges for employees.
sal_range_df = pd.read_sql("", connection)

In [3]:
# Create a bar chart of average salary by title
avg_salary_df = pd.read_sql('SELECT t.title, ROUND(AVG(s.salary),2) AS "average salary" FROM salaries AS s JOIN employees AS e ON e.emp_no=s.emp_no JOIN titles AS t ON e.emp_title_id=t.title_id GROUP BY t.title;', connection)
avg_salary_df

                title  average salary
0  Assistant Engineer        48564.43
1            Engineer        48535.34
2             Manager        51531.04
3     Senior Engineer        48506.80
4        Senior Staff        58550.17
5               Staff        58465.38
6    Technique Leader        48582.90